<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="WCFService" value="net.tcp://localhost:7778/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <system.serviceModel>
    
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpEndpoint" closeTimeout="00:08:00" openTimeout="00:08:00" receiveTimeout="00:20:00" sendTimeout="00:08:00"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:7778/" behaviorConfiguration="endpointBehavior" binding="netTcpBinding" bindingConfiguration="NetTcpEndpoint" contract="ServiceReference1.IReportService" name="NetTcpEndpoint">
        <identity>
          <userPrincipalName value="SEAS19062@corp.pbwan.net"/>
        </identity>
      </endpoint>
    </client>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="WCFReportLib.ReportService">
        <endpoint address="" behaviorConfiguration="WebBehaviour" binding="webHttpBinding" name="RESTReportService" contract="WCFReportLib.IReportService" kind="webHttpEndpoint"/>
        <endpoint address="mex" behaviorConfiguration="SoapBehaviour" binding="mexHttpBinding" name="MEX" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:7778" behaviorConfiguration="endpointBehavior" binding="netTcpBinding" bindingConfiguration="" name="NetTcpEndpoint" contract="WCFReportLib.IReportService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/service"/>
          </baseAddresses>
        </host>
      </service>  
    </services>
    <behaviors>

      <endpointBehaviors>
        <behavior name="WebBehaviour">
          <webHttp helpEnabled="true"/>
        </behavior>

        <behavior name="SoapBehaviour">

        </behavior>
        <behavior name="endpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="webHttpBinding" scheme="http"/>
    </protocolMapping>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>


  </system.serviceModel>


  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">


      <dependentAssembly>


        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>


      </dependentAssembly>


      <dependentAssembly>


        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>


        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>


      </dependentAssembly>


    </assemblyBinding>


  </runtime>
</configuration>
