<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Connection" value="Server=ZL4054GBG1SE\SQLEXPRESS;Database=RatDB;Trusted_Connection=True" />
  </appSettings>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RatDBEntities" connectionString="metadata=res://*/Model.DBEntityModel.csdl|res://*/Model.DBEntityModel.ssdl|res://*/Model.DBEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZL4054GBG1SE\SQLEXPRESS;initial catalog=RatDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbEntities" connectionString="metadata=res://*/Entity.RatEntity.csdl|res://*/Entity.RatEntity.ssdl|res://*/Entity.RatEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZL4054GBG1SE\SQLEXPRESS;initial catalog=RatDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LMSEntities" connectionString="metadata=res://*/Entity.LMS.csdl|res://*/Entity.LMS.ssdl|res://*/Entity.LMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D18SE-C0485NPQ\SQLEXPRESS;initial catalog=LMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LMS" connectionString="data source=D18SE-C0485NPQ\SQLEXPRESS;initial catalog=LMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LMSEntity" connectionString="data source=D18SE-C0485NPQ\SQLEXPRESS;initial catalog=LMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LMS1" connectionString="data source=D18SE-C0485NPQ\SQLEXPRESS;initial catalog=LMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>